/* Переменные */
:root {
	--brand-color: #4D5AE5;
	--heading-color: #2E2F42;
	--body-color: #434455;
	--raleway: 'Raleway', sans-serif;
	--roboto: 'Roboto', sans-serif;
}

body {
	color: var(--heading-color);
	font-family: var(--roboto);
	font-size: 16px;
	letter-spacing: 0.02em;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

/* Логотип */
.logo {
	color: var(--heading-color);
	font-family: var(--raleway);
	font-size: 18px;
	font-weight: 800;
	line-height: 1.33;
	text-transform: uppercase;
	letter-spacing: 0.03em;
}

.logo span {
	color: var(--brand-color);
}

.logo:hover,
.logo.footer:hover {
	color: var(--body-color);
}

/* Навигация */
.nav-items .link {
	color: var(--heading-color);
	font-weight: 600;
	line-height: 1.2;
}

.nav-items .link:hover,
.nav-items .link:focus {
	color: var(--body-color);
}

.nav-items .link:active {
	color: var(--brand-color);
}

/* Контакты */
.menu-contacts .link {
	color: var(--body-color);
	line-height: 1.5;
}

.menu-contacts .link:hover,
.menu-contacts .link:focus {
	color: var(--brand-color);
}

/* Кнопки */
.filter-buttons .button,
.hero .button {
	color: var(--brand-color);
	background: #F4F4FD;
	border: 1px solid #E7E9FC;
	border-radius: 4px;
	font-weight: 600;
	line-height: 1.5;
	letter-spacing: 0.04em;
	cursor: pointer;
}

.button:hover,
.button:focus {
	color: #FFFFFF;
	background-color: var(--brand-color);
}

/* H1 title*/
.hero .heading {
	color: #FFFFFF;
	font-size: 56px;
	font-weight: 600;
	line-height: 1.07;
}

/* H2 titles */
.features-examples .heading,
.team-cards .heading {
	font-size: 36px;
	font-weight: 600;
	line-height: 1.11;
}

/* H3 titles */
.project-cards .title,
.features-desc .title,
.team-cards .title {
	color: var(--heading-color);
	font-size: 20px;
	font-weight: 600;
	line-height: 1.2;
}

/* p text */
.project-cards .text,
.features-desc .text,
.team-cards .text {
	color: var(--body-color);
	line-height: 1.5;
}

/* Футер */
.logo.footer {
	color: #F4F4FD;
	line-height: 1.16;
}

.text.footer {
	color: #E7E9FC;
	line-height: 1.5;
}